.navbar ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color: #ececec;
}

.navbar li {
    justify-content: space-evenly;
    padding: 15px;
}

.navbar li:hover{
    background-color: #fafafa;
}

#navbar-text {
    text-decoration: none;
    color: rgb(48, 44, 44);
}

.flex {
    min-height: 500px;
    display: flex;
    border: 8px solid black;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    background-color: rgb(255, 0, .5);
}

