.navbar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: #ececec;
    overflow: auto;
}

.navbar li {
    padding: 15px;
}

.navbar li:hover{
    background-color: #fafafa;
}

#navbar-text {
    text-decoration: none;
    color: rgb(48, 44, 44);
}